*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.card {
  background: #1A1B21;
  color: white;
  width: 30rem;
  height: 99vh;
  margin: 2rem auto;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba( 0,0,0, 0.5);
}

.Profile{
  height: 27rem;
  background: url(./assets/profile-pic.png);
  background-size: cover;
  background-position-y: -2rem;
  border-radius: 10px 10px 0px 0px;
}